@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

@import "fonts";
@import "_header";
@import "_footer";
/*@import "_burger";*/
/*@import "_menumultiple";*/
/*@import "_popup";*/
